.MuiBox-root{
    @media screen and (max-width:768px) {
        width: 97%;
    }
}

.main-heading{
    font-size: 50px;

    @media screen and (max-width:768px) {
        font-size: 30px;
    }
}

.main-heading{
    font-size: 30px;
    margin-left: -2vw;
}

.main-heading1{
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    margin-left: 3vw;
    width: 40%;
    margin-top: 20vh;
}

.add-remove{

    button{
        margin-left: 2vw;
    }

    @media screen and (max-width:768px) {
        padding-right: 10vw;
    }
}

.MuiStack-root{
    @media screen and (max-width:768px) {
        width: 100%;
    }
}

.MuiTypography-root{
    @media screen and (max-width:768px) {
    }
}