.data-visualisation{
    margin-top: 10vh;
.BarChart{
    margin-top: 15vh;
}

.main-div{
    margin-top: 5vh;
}

h1{
    color: #a486f7;
    font-size: 50px;
}

img{
    width: 50px;
    position: absolute;
    margin-left: 1vw;
    margin-top: 1vh;
}

.chart{
    font-size: 30px;
    position: absolute;
    margin-left: 3vw;
    color: #e9e1ff;
}
}